* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    background-image: url("../img/background2.png");
    background-color: #f3e1d1;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}



/* cho img nam ngoai nav */
header {
    position: relative;
    display: flex;
    margin-top: 3%;
    background-color: transparent;
}

header > nav {
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}


header > img:first-child {
    position: absolute;
    margin-left: 200px;
    margin-top: -10px;
    left: 0px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 140px;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #e06331;
    font-weight: bold;
    font-family: "Raleway";
    transition: 0.3s;
}
nav ul li a:hover {
    color: #ff0800;
    transition: 0.3s;
}

header img:nth-child(3) {
    margin-top: 10px;
    margin-left: 35%;
    transition: 0.3s;
}

header img:nth-child(4) {
    margin-top: 10px;
    margin-left: 38%;
    transition: 0.3s;
}

header img:nth-child(5) {
    margin-top: -50px;
    transition: 0.3s;
}

nav img:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

/* img nam trong nav */
/* header{
    position: relative;
    margin-top: 40px;  
    background-color: transparent;
}

header>nav{
    display: flex;
    margin-left: 150px;
    align-items: center;
}


nav ul li{
    list-style: none;
    display: inline;
    margin-left: 50px;
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #e06331;
    font-weight: bold;
    font-family: "Raleway";
    transition: 0.3s;
}
nav ul li a:hover{
    color: #ff0800;
    transition: 0.3s;
}

nav img:nth-child(3){
    margin-left: 570px;
}

nav img:nth-child(4){
    margin-left: 30px;
}

header>img{
    margin-top: -40px;
    margin-left: 50px;
}

nav img:hover{  
    transform: scale(1.2);
    transition: 0.3s;
}

 */

.page-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 766px;
    overflow: hidden; /* Ẩn nội dung tràn ra */
}

.page-1 > h2 {
    font-size: 110px;
    line-height: 100px;
    width: 600px;
    color: #e06331;
    font-weight: bold;
    font-family: "Raleway";
    text-align: center;
    padding-left: 200px;
    padding-top: 100px;
}

.page-1 > p:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 470px;
    height: 65px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    font-family: "Raleway";
    text-align: center;
    margin-top: 20px;
    padding-left: 260px;
}

.page-1 > p:nth-child(3) {
    position: absolute;
    rotate: 90deg;
    top: 250px;
    right: 0px;
    font-size: 20px;
    color: #f3e1d1;
    font-weight: bold;
    font-family: "Raleway";
    white-space: nowrap;
    margin-left: 0px;
    transition: 0.3s;
}

.page-1 > p:nth-child(3):hover {
    transform: scale(1.05);
    color: #ffffff;
    transition: 0.3s;
}

.page-1 > p:nth-child(2) button {
    font-size: 14px;
    font-weight: bold;
    font-family: "Raleway";
}

button.btn_shownow {
    width: 133px;
    height: 36px;
    border-radius: 18px;
    background-color: #e06331;
    border: 3px solid #000000;
    margin-top: 10px;
    color: #f3e1d1;
}

button.btn_shownow:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: #ff7b4a;
    color: #eee0d1;
}

button.btn_learnmore {
    font-size: 15px;
    font-weight: bold;
    font-family: "Raleway";
    text-align: center;
    color: #ff7b4a;
    width: 133px;
    height: 36px;
    border-radius: 18px;
    background-color: transparent;
    border: 3px solid #000000;
    margin-top: 10px;
    margin-left: 20px;
}

button.btn_learnmore:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: #ff7b4a;
    color: #eee0d1;
}

header > img {
    position: absolute;
    top: -20px;
    left: 750px;
    transition: 0.3s;
}

header > img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 10px rgba(255, 165, 0, 0.8));
    transition: 0.3s;
}

.herodienthoai-img {
    position: absolute;
    width: 230px;
    height: 460px;
    right: 22%;
    top: 30px;

    filter: drop-shadow(0px 20px 0px #1f1c1c);
    transition: 0.3s;
}

.herodienthoai-img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 10px rgba(255, 165, 0, 0.8));
    transition: 0.3s;
}

.dautay-page1-img {
    position: absolute;
    left: -40px;
    bottom: 50px;
    transition: 0.3s;
}

.dautay-page1-img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 10px rgba(255, 165, 0, 0.8));
    transition: 0.3s;
}

.quale-page1-img {
    position: absolute;
    left: 650px;
    bottom: 0px;
    transition: 0.3s;
}

.quale-page1-img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 10px rgba(255, 165, 0, 0.8));
    transition: 0.3s;
}

.shape-orange-page1-img {
    position: absolute;
    left: 0px;
    top: 30px;
}

.shape-orange-page1-img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.shape-white-page1-img {
    position: absolute;
    right: 0px;
    bottom: 100px;
}

.shape-white-page1-img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

header > i {
    display: none;
}
/* Thêm hiệu ứng chuyển động */
i.fa-solid {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Khi menu đang mở, xoay icon nhẹ và làm mờ */
i.fa-animating {
    transform: rotate(180deg);
    opacity: 0.7;
}

/* cho ipad*/
@media (max-width: 768px) {
    body {
        position: absolute;
        background-color: #f3e1d1;
        background-size: cover;
        background-repeat: repeat;
        width: 100%;
    }
    header {
        position: relative;
        display: flex;
        margin-top: 5%;
        background-color: transparent;
    }

    header > nav {
        align-items: center;
        margin-left: 0px;
        margin-right: 10%;
    }

    header > img:first-child {
        position: absolute;
        margin-left: 5%;
        margin-top: -5px;
        left: 0px;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 100px;
    }

    nav ul li {
        display: inline-block;
        margin-left: 30px;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 16px;
        color: #e06331;
        font-weight: bold;
        font-family: "Raleway";
        transition: 0.3s;
    }

    header img:nth-child(3) {
        margin-top: 10px;
        margin-left: -150px;
        transition: 0.3s;
    }

    header img:nth-child(4) {
        margin-top: 10px;
        margin-left: -100px;
        transition: 0.3s;
    }

    header img:nth-child(5) {
        margin-top: -50px;
        transition: 0.3s;
    }
    .page-1 > h2 {
        font-size: 70px;
        line-height: 80px;
        width: 350px;
        color: #e06331;
        font-weight: bold;
        font-family: "Raleway";
        text-align: center;
        padding-left: 100px;
        padding-top: 140px;
    }

    .page-1 > p:first-of-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 370px;
        height: 65px;
        font-size: 12px;
        color: #000000;
        font-weight: bold;
        font-family: "Raleway";
        text-align: center;
        margin-top: 20px;
        padding-left: 100px;
    }

    .page-1 > p:nth-child(3) {
        position: absolute;
        rotate: 90deg;
        top: 250px;
        right: -50px;
        font-size: 15px;
        color: #f3e1d1;
        font-weight: bold;
        font-family: "Raleway";
        white-space: nowrap;
        margin-left: 0px;
        transition: 0.3s;
    }

    .herodienthoai-img {
        position: absolute;
        width: 150px;
        height: 300px;
        right: 17%;
        top: 120px;
        filter: drop-shadow(0px 20px 0px #1f1c1c);
        transition: 0.3s;
    }
}

.fa-solid.fa-bars {
    display: none;
}

/**responsive mobile**/
@media (max-width: 595px) {
    body {
          position: absolute;
        background-color: #f3e1d1;
        background-size:0%;
        background-repeat: no-repeat;
        width: 100%;
    }

    /* cho img nam ngoai nav */
    header {
        position: relative;
        display: flex;
        margin-top: 0%;
        background-color: transparent;
        background-color: #e64a0c;
    }

    header > nav {
        align-items: left;
        width: 100%;
    }

    header > img:first-child {
        position: absolute;
        margin-left: 5%;
        margin-top: 7%;
        left: 0px;
    }

    header > img.active {
        display: none;
    }

    nav ul {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #e64a0c;
        transition: max-height 0.5s ease-out;
    }

    nav ul.active {
        max-height: 500px;
        flex-direction: column;
        background-color: #e64a0c;
        transition: max-height 0.5s ease-in;
    }

    nav ul li {
        width: 100%;
        padding: 20px 0px 20px 0px;
        border-bottom: 1px solid #000000;
    }

    nav ul li a {
        text-decoration: none;
        padding-left: 30px;
        font-size: 16px;
        color: #fffdfc;
        font-weight: bold;
        font-family: "Raleway";
        transition: 0.3s;
    }

    header img:nth-child(3) {
        margin-top: 10px;
        margin-left: 35%;
        transition: 0.3s;
    }

    header img:nth-child(4) {
        margin-top: 10px;
        margin-left: 38%;
        transition: 0.3s;
    }

    header img:nth-child(5) {
        margin-top: -50px;
        transition: 0.3s;
    }

    header > i {
        position: absolute;
        z-index: 4;
        top: 20px;
        right: 20px;
    }

    .page-1 {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 766px;
        overflow: hidden; /* Ẩn nội dung tràn ra */
    }

    .page-1 > h2 {
        font-size: 350%;
        line-height: 100%;
        width: 80%;
        color: #e06331;
        font-weight: bold;
        font-family: "Raleway";
        text-align: center;
        padding-left: 10%;
        padding-top: 30%;
    }

    .page-1 > p:first-of-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
        height: 20%;
        font-size: 70%;
        color: #000000;
        font-weight: bold;
        font-family: "Raleway";
        text-align: center;
        margin-top: 5%;
        padding-left: 15%;
    }

    .page-1 > p:nth-child(3) {
        position: absolute;
        rotate: 0deg;
        top: 90%;
        right: 20%;
        font-size: 100%;
        color: #ffffff;
        font-weight: bold;
        font-family: "Raleway";
        white-space: nowrap;
        margin-left: 0px;
        transition: 0.3s;
    }

    .page-1 > p:nth-child(2) button {
        font-size: 14px;
        font-weight: bold;
        font-family: "Raleway";
    }

    button.btn_shownow {
        width: 133%;
        height: 36px;
        border-radius: 18px;
        background-color: #e06331;
        border: 3px solid #000000;
        margin-top: 15%;
        color: #f3e1d1;
    }

    button.btn_learnmore {
        font-size: 15px;
        font-weight: bold;
        font-family: "Raleway";
        text-align: center;
        color: #ff7b4a;
        width: 133%;
        height: 36px;
        border-radius: 18px;
        background-color: transparent;
        border: 3px solid #000000;
        margin-top: 5%;
        margin-left: 0px;
    }

    header > img {
        position: absolute;
        top: -20px;
        left: 750px;
        transition: 0.3s;
    }

    .herodienthoai-img {
        display: none;
        position: absolute;
        width: 230px;
        height: 460px;
        right: 22%;
        top: 30px;

        filter: drop-shadow(0px 20px 0px #1f1c1c);
        transition: 0.3s;
    }

    .dautay-page1-img {
        position: absolute;
        left: -10%;
        bottom: 15%;
        transition: 0.3s;
        width: 30%;
        height: 30%;
    }

    .quale-page1-img {
        position: absolute;
        left:70%;
        bottom: -10%;
        transition: 0.3s;
        width: 50%;
        height: 50%;
    }

    .shape-orange-page1-img {
        position: absolute;
        left: -30px;
        top: 150px;
    }

    .shape-white-page1-img {
        position: absolute;
        right: 0px;
        bottom: 100px;
    }
    .fa-solid.fa-bars {
        display: block;
    }

    .dautayheader-top-img {
        display: none;
    }
}

/**--!----------------- Page 2--------------------!**/
.page-2 {
    position: relative; /* Đặt làm phần tử tham chiếu */
    height: 593px;
    background-color: #ff6329;
    border-top: 3px solid #000000;
    overflow: hidden; /* Ẩn nội dung tràn ra */
}

.page-2 > p:first-of-type {
    font-size: 35px;
    color: #000000;
    font-weight: bold;
    font-family: "Raleway";
    text-align: center;
    margin-top: 100px;
}

.page-2 > p:nth-child(2) {
    font-size: 120px;
    line-height: 111px;
    color: #eee0d1;
    font-weight: bold;
    font-family: "Raleway";
    text-align: center;
    width: 1200px;
    margin: auto;
}

.page-2 > p:nth-child(3) {
    width: 540px;
    height: 195px;
    margin: auto;
    margin-top: 40px;
    font-size: 16px;
    color: #eee0d1;
    font-weight: bold;
    font-family: "Raleway";
    text-align: center;
}

.page-2 button {
    width: 133px;
    height: 36px;
    border-radius: 18px;
    background-color: #eee0d1;
    border: 3px solid #000000;

    margin-top: 30px;
    font-size: 15px;
    color: #e06331;
    font-weight: bold;
    font-family: "Raleway";
    text-align: center;
    transition: 0.3s;
}

.page-2 button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: #ff7b4a;
    color: #eee0d1;
}

.soai-page2-icon {
    position: absolute; /* Định vị dựa trên .main-1 -phải đặt .icon trong thẻ tham chiếu */
    top: 60px;
    right: 20px;
}

.soai-page2-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.banana-page2-icon {
    position: absolute;
    bottom: 60px;
    left: 30px;
    transition: 0.3s;
}

.banana-page2-icon:hover {
    transform: rotate(15deg);
    transition: 0.3s;
}

.shape-white-page2 {
    position: absolute;
    bottom: 50px;
    right: -10px;
    transition: 0.3s;
}

.shape-white-page2:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.shape-white-page2-left {
    position: absolute;
    top: 70px;
    left: -30px;
    transition: 0.3s;
}

.shape-white-page2-left:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width: 595px) {
    .page-2 > p:first-of-type {
        font-size: 200%;
        color: #000000;
        font-weight: bold;
        font-family: "Raleway";
        text-align: center;
        margin-top: 20%;
    }

    .page-2 > p:nth-child(2) {
        font-size: 200%;
        line-height: 120%;
        color: #eee0d1;
        font-weight: bold;
        font-family: "Raleway";
        text-align: center;
        width: 70%;
        margin: auto;
        margin-top: 10%;
    }

    .page-2 > p:nth-child(3) {
        width: 60%;
        height: 20%;
        margin: auto;
        margin-top: 10%;
        font-size: 70%;
        color: #eee0d1;
        font-weight: bold;
        font-family: "Raleway";
        text-align: center;
    }

    .page-2 button {
        width: 150px;
        height: 36px;
        border-radius: 18px;
        background-color: #eee0d1;
        border: 3px solid #000000;

        margin-top: 30px;
        font-size: 15px;
        color: #e06331;
        font-weight: bold;
        font-family: "Raleway";
        text-align: center;
        transition: 0.3s;
    }

    .page-2 button:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
        background-color: #ff7b4a;
        color: #eee0d1;
    }

    .soai-page2-icon {
        position: absolute; /* Định vị dựa trên .main-1 -phải đặt .icon trong thẻ tham chiếu */
        top: -4%;
        right: -2%;
        width: 20%;
        height: 20%;
    }

    .banana-page2-icon {
        position: absolute;
        bottom: 2%;
        left: -3%;
        transition: 0.3s;
    }

    .shape-white-page2 {
        position: absolute;
        bottom: 50px;
        right: -10px;
        transition: 0.3s;
    }

    .shape-white-page2:hover {
        transform: scale(1.05);
        transition: 0.3s;
    }

    .shape-white-page2-left {
        position: absolute;
        top: 10%;
        left: -15%;
        transition: 0.3s;
    }
}

/**--!----------------- Page 3--------------------!**/
.page-3 {
    position: relative;
    background-color: #f3e1d1;
    padding-bottom: 100px;
    border-top: 3px solid #000000;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-3 > img:first-child {
    display: block;
    width: 70%;
    margin: auto;
    padding: 100px 100px 100px;
}

.page-3 .production {
    width: 362px;
    height: 462px;
    border-radius: 29px;
    margin-left: 170px;
    margin-right: 120px;
    margin-top: 50px;
}

.production .imgSP {
    width: 362px;
    height: 362px;
    border-radius: 29px;
    background-color: #f3e1d1;
    border: 3px solid #000000;
}

.imgSP > img:hover {
    transform: scale(0.9);
    transition: 0.3s;
}

.production .quale-main2-icon {
    display: flex;
    border-radius: 29px;
    padding: 40px 80px;
    margin: auto;
}

.production .duahau-main2-icon {
    padding: 80px 0px 10px 40px;
}

.production {
    display: flex;
    flex-wrap: wrap;
    font-size: 28px;
    color: #000000;
    font-weight: bold;
    font-family: "Raleway";
    padding-top: 20px;
}

.production > button {
    font-size: 15px;
    color: #f3e1d1;
    font-weight: bold;
    font-family: "Raleway";
    text-align: center;

    width: 133px;
    height: 36px;
    border-radius: 18px;
    background-color: #e06331;
    border: 3px solid #000000;
    margin-left: 20px;
    transition: 0.3s;
}

.production > button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: #ff7b4a;
}

.production > p:nth-child(4) {
    font-size: 14px;
    color: #ff6329;
    font-family: "Raleway";
}

.shape-main2-icon {
    position: absolute;
    top: 40px;
    right: -20px;
    transition: 0.3s;
}

.shape-main2-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.shape-main2-icon-bottom {
    position: absolute;
    bottom: 150px;
    right: -20px;
    transition: 0.3s;
}

.shape-main2-icon-bottom:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.shape-main2-left-icon {
    position: absolute;
    bottom: 750px;
    left: -20px;
    transition: 0.3s;
}

.shape-main2-left-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.shape-main2-left-icon-bottom {
    position: absolute;
    top: 250px;
    left: -20px;
    transition: 0.3s;
}

.shape-main2-left-icon-bottom:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width: 595px) {
    .page-3 > img:first-child {
        display: block;
        margin: auto;
        padding: 10%;
        width: 80%;
        height: 10%;
    }

    .page-3 .production {
        width: 90%;
        height: 70%;
        border-radius: 29px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }

    .production .imgSP {
        width: 362px;
        height: 362px;
        border-radius: 29px;
        background-color: #f3e1d1;
        border: 3px solid #000000;
    }

    .production .quale-main2-icon {
        display: flex;
        border-radius: 29px;
        padding: 40px 80px;
        margin: auto;
    }

    .production .duahau-main2-icon {
        padding: 80px 0px 10px 40px;
    }

    .production {
        display: flex;
        flex-wrap: wrap;
        font-size: 28px;
        color: #000000;
        font-weight: bold;
        font-family: "Raleway";
        padding-top: 20px;
    }

    .production > button {
        font-size: 15px;
        color: #f3e1d1;
        font-weight: bold;
        font-family: "Raleway";
        text-align: center;

        width: 133px;
        height: 36px;
        border-radius: 18px;
        background-color: #e06331;
        border: 3px solid #000000;
        margin-left: 20px;
        transition: 0.3s;
        margin-top: 3%;
    }

    .production > p:nth-child(4) {
        font-size: 14px;
        color: #ff6329;
        font-family: "Raleway";
    }

    .shape-main2-icon {
        display: none;
    }

    .shape-main2-icon-bottom {
        display: none;
    }

    .shape-main2-left-icon {
        display: none;
    }

    .shape-main2-left-icon-bottom {
        display: none;
    }
}

/**!----------------- Page-4 --------------------!**/

.page-4 {
    position: relative;
    background-image: url("../img/Background-main3.png");
    height: 955px;
    background-size: cover;
    overflow: hidden; /* Ẩn nội dung tràn ra */
}

.page-4 .main-3-content {
    display: block;
    width: 600px;
    margin: auto;
    padding: 300px 0px 0px 500px;
}

.page-4 > p {
    display: block;
    width: 600px;
    margin: auto;
    padding: 300px 0px 0px 500px;

    font-size: 100px;
    line-height: 100px;
    color: #eee0d1;
    font-weight: bold;
    font-family: "Raleway";
}

.page-4 > aside {
    display: block;
    width: 500px;
    height: 195px;
    font-size: 14px;
    color: #eee0d1;
    font-weight: bold;
    font-family: "Raleway";
    text-align: left;
    padding-top: 25px;
    padding-left: 400px;
    margin: auto;
}

.page-4 > aside > p > button {
    font-size: 15px;
    color: #f3e1d1;
    font-weight: bold;
    font-family: "Raleway";

    width: 133px;
    height: 36px;
    border-radius: 18px;
    background-color: #e06331;
    border: 3px solid #000000;
    margin-top: 30px;
}

.page-4 > aside > p > button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: #ff7b4a;
    color: #eee0d1;
}

.dienthoai-main3-icon {
    position: absolute;
    width: 280px;
    height: 600px;
    top: 160px;
    left: 300px;
    transition: 0.3s;
}

.dienthoai-main3-icon:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 10px rgba(18, 18, 17, 0.8));
    transition: 0.3s;
}

.cherry-main3-icon {
    width: 160px;
    height: 140px;
    position: absolute;
    top: 70px;
    left: 230px;
    transition: 0.3s;
}

.cherry-main3-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.dautay-main3-icon {
    width: 200px;
    height: 340px;
    position: absolute;
    bottom: 250px;
    left: -70px;
    transition: 0.3s;
}

.dautay-main3-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.traithom-main3-icon {
    position: absolute;
    top: 150px;
    right: -30px;
    transition: 0.3s;
}

.traithom-main3-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.soai-main3-icon {
    rotate: 20deg;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: -100px;
    right: 250px;
    transition: 0.3s;
}

.soai-main3-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.shape-white-main3-header-icon {
    position: absolute;
    top: -50px;
    right: 300px;
    transition: 0.3s;
}

.shape-white-main3-header-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.shape-white-main3-icon {
    position: absolute;
    bottom: -20px;
    left: 600px;
    transition: 0.3s;
}

.shape-white-main3-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width: 595px) {
    .page-4 {
        display: block;
        width: 100%;
        margin: auto;
    }

    .page-4 > p {
        display: block;
        width: 60%;
        margin: auto;
        padding: 10%;

        font-size: 300%;
        line-height: 100%;
        color: #eee0d1;
        font-weight: bold;
        font-family: "Raleway";
    }

    .page-4 > aside {
        display: block;
        width: 60%;
        height: 195%;
        font-size: 140%;
        color: #eee0d1;
        font-weight: bold;
        font-family: "Raleway";
        text-align: left;
        padding-top: 10%;
        padding-left: 10%;
        margin: auto;
    }

    .page-4 > aside > p > button {
        font-size: 15px;
        color: #f3e1d1;
        font-weight: bold;
        font-family: "Raleway";

        width: 133px;
        height: 36px;
        border-radius: 18px;
        background-color: #e06331;
        border: 3px solid #000000;
        margin-top: 30px;
    }

    .dienthoai-main3-icon {
        position: absolute;
        width: 40%;
        height: 35%;
        left: 10%;
        top: 63%;
    }

    .cherry-main3-icon {
        position: absolute;
        width: 40%;
        height: 35%;
        left: 1%;
        top: 6%;
    }

    .dautay-main3-icon {
        position: absolute;
        width: 40%;
        height: 35%;
        left: 70%;
        top: 63%;
    }

    .traithom-main3-icon {
        display: none;
    }

    .soai-main3-icon {
        display: none;
    }

    .shape-white-main3-header-icon {
        display: none;
    }

    .shape-white-main3-icon {
        display: none;
    }
}

/**!----------------- Page-5 --------------------!**/
.page-5 {
    position: relative;
    background-color: #f3e1d1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.page-5 > h2 {
    font-size: 100px;
    line-height: 111px;
    width: 100%;
    color: #e06331;
    font-weight: bold;
    font-family: "Raleway";
    text-align: center;
    padding-top:150px;
}

.page-5 > p {
    width: 100%;
    height: 65px;
    margin: auto;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    font-family: "Raleway";
    text-align: center;
    padding: 20px 500px 50px 500px;
}

.page-5 .production {
    width: 362px;
    height: 462px;
    border-radius: 29px;
    margin-left: 90px;
    margin-right: 10px;
    margin-top: 50px;
}

.production .imgSP {
    width: 352px;
    height: 352px;
    border-radius: 29px;
    background-color: #f3e1d1;
    border: 3px solid #000000;
}

.production .imgSP > .quale-main4-icon {
    padding-top: 30px;
    padding-left: 80px;
}

.production .imgSP > .duahau-main4-icon {
    padding-top: 70px;
    padding-left: 50px;
}
.page-5 .muiten {
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* optional: space between images if multiple */
}

.page-5 .muiten > img:hover {
    transform: scale(1.5);
    transition: 0.3s;
}

.shape-mau-left-icon {
    position: absolute;
    bottom: 30px;
    left: -50px;
    transition: 0.3s;
}

.shape-mau-left-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.shape-mau-right-icon {
    position: absolute;
    top: 200px;
    right: 0px;
}

.shape-mau-right-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width: 595px) {
    .page-5 {
        position: relative;
        background-color: #f3e1d1;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .page-5 > h2 {
        font-size: 300%;
        line-height: 100%;
        width: 100%;
        color: #e06331;
        font-weight: bold;
        font-family: "Raleway";
        text-align: center;
        padding: 10%;
    }

    .page-5 > p {
        width: 100%;
        height: 6%;
        margin: auto;
        font-size: 14px;
        color: #000000;
        font-weight: bold;
        font-family: "Raleway";
        text-align: center;
        padding: 20px;
    }

    .page-5 .production {
        width: 100%;
        height: 70%;
        border-radius: 29px;
        margin: 5%;
    }

    .production .imgSP {
        width: 100%;
        height: 362px;
        border-radius: 29px;
        background-color: #f3e1d1;
        border: 3px solid #000000;
    }

    .production .imgSP > .quale-main4-icon {
        padding-top: 30px;
        padding-left: 80px;
    }

    .production .imgSP > .duahau-main4-icon {
        padding-top: 70px;
        padding-left: 50px;
    }

    .page-5 .muiten {
        display: flex;
        gap: 50px;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
        margin-left: 35%;
        transition: 0.3s;
    }

    .shape-mau-left-icon {
        display: none;
    }

    .shape-mau-right-icon {
        display: none;
    }
}

/**!----------------- Page-6 --------------------!**/
.page-6 {
    position: relative;
    background-image: url("../img/background5.png");
    height: 1045px;
    background-size: cover;
    overflow: hidden;
}

.page-6 > h2 {
    width: 700px;
    font-size: 90px;
    line-height: 91px;
    color: #eee0d1;
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 200px;
    margin-top: 200px;
}

.page-6 > p {
    width: 450px;
    height: 32px;
    font-size: 13px;
    color: #eee0d1;
    font-weight: bold;
    font-family: "Raleway";
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 200px;
}

.list-choise {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 480px;
    margin-left: 200px;
    gap: 30px;
}

.list-choise > p {
    font-size: 26px;
    width: 580px;
    color: #000000;
    font-weight: bold;
    font-family: "Raleway";
    padding-top: 30px;
}

.list-choise > button {
    font-size: 15px;
    color: #f3e1d1;
    font-weight: bold;
    font-family: "Raleway";
    text-align: center;

    width: 130px;
    height: 34px;
    border-radius: 18px;
    background-color: #ff6329;
    border: 3px solid #f3e1d1;
}

.list-choise > button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: #ff7b4a;
    color: #eee0d1;
}

.dienthoai-main5-icon {
    position: absolute;
    width: 330px;
    height: 680px;
    top: 200px;
    right: 18%;
    z-index: 1;
}

.dienthoai-main5-icon:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 20px 10px rgba(27, 27, 26, 0.8));
    transition: 0.3s;
}

.cherry-main5-icon {
    position: absolute;
    width: 220px;
    height: 200px;
    bottom: 100px;
    right: 150px;
    z-index: 2;
    transition: 0.3s;
}

.cherry-main5-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.dautay-main5-icon {
    position: absolute;
    width: 200px;
    height: 390px;
    top: 10px;
    right: -20px;
    rotate: -20deg;
    transform: scaleX(-1);
    transition: 0.3s;
}

.dautay-main5-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.banana-main5-icon {
    position: absolute;
    width: 350px;
    height: 250px;
    bottom: 20px;
    left: -70px;
    rotate: 30deg;
    transition: 0.3s;
}

.banana-main5-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.shape-white-left-icon {
    position: absolute;
    bottom: 480px;
    left: -45px;
    transition: 0.3s;
}

.shape-white-left-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.shape-white-right-icon {
    position: absolute;
    bottom: 100px;
    right: 520px;
    z-index: 0;
    transition: 0.3s;
}

.shape-white-right-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.shape-white-top-icon {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 150px;
    right: 500px;
    z-index: 0;
    transition: 0.3s;
}

.shape-white-top-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width: 595px) {
    .page-6 > h2 {
        width: 50%;
        font-size: 300%;
        line-height: 100%;
        color: #eee0d1;
        font-weight: bold;
        font-family: "Raleway";
        margin-left: 10%;
        margin-top: 40%;
    }

    .page-6 > p {
        width: 90%;
        height: 32px;
        font-size: 13px;
        color: #eee0d1;
        font-weight: bold;
        font-family: "Raleway";
        text-align: left;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 0%;
        padding: 5%;
    }

    .list-choise {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        width: 90%;
        margin-left: 10%;
        gap: 30px;
    }

    .list-choise > p {
        font-size: 26px;
        width: 90%;
        color: #000000;
        font-weight: bold;
        font-family: "Raleway";
        padding-top: 30px;
    }

    .list-choise > button {
        font-size: 15px;
        color: #f3e1d1;
        font-weight: bold;
        font-family: "Raleway";
        text-align: center;

        width: 130px;
        height: 34px;
        border-radius: 18px;
        background-color: #ff6329;
        border: 3px solid #f3e1d1;
    }

    .list-choise > button:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
        background-color: #ff7b4a;
        color: #eee0d1;
    }

    .dienthoai-main5-icon {
        display: none;
        position: absolute;
        width: 330px;
        height: 680px;
        top: 200px;
        right: 18%;
        z-index: 1;
    }

    .cherry-main5-icon {
        display: none;
        position: absolute;
        width: 220px;
        height: 200px;
        bottom: 100px;
        right: 150px;
        z-index: 2;
        transition: 0.3s;
    }

    .dautay-main5-icon {
        position: absolute;
        width: 20%;
        height: 20%;
        top: 10%;
        right: -20px;
        rotate: -20deg;
        transform: scaleX(-1);
        transition: 0.3s;
    }

    .banana-main5-icon {
        position: absolute;
        width: 50%;
        height: 50%;
        bottom: -15%;
        left: 10px;
        rotate: 30deg;
        transition: 0.3s;
    }

    .shape-white-left-icon {
        display: none;
        position: absolute;
        bottom: 480px;
        left: -45px;
        transition: 0.3s;
    }

    .shape-white-right-icon {
        display: none;
        position: absolute;
        bottom: 100px;
        right: 520px;
        z-index: 0;
        transition: 0.3s;
    }

    .shape-white-top-icon {
        position: absolute;
        width: 180px;
        height: 180px;
        top: 150px;
        right: 500px;
        z-index: 0;
        transition: 0.3s;
    }
}

/**!----------------- Page-7 --------------------!**/

.page-7 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #f3e1d1;
    overflow: hidden;
    padding-bottom: 30px;
}

.page-7 > h2 {
    font-size: 100px;
    line-height: 111px;
    color: #e06331;
    font-weight: bold;
    font-family: "Raleway";
    width: 1200px;
    margin-top: 120px;
    margin-left: 142px;
    padding-bottom: 70px;
}

.page-7 > p {
    width: 30%;
    height: 30%;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    font-family: "Raleway";
    text-align: left;
    margin-bottom: 100px;
    margin-left: 170px;
}

.page-7 span {
    display: block;
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    font-family: "Raleway";
    margin-top: 20px;
}

.shape-mau-page7-left-icon {
    position: absolute;
    top: 200px;
    left: -10px;
    transition: 0.3s;
}

.shape-mau-page7-left-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.shape-mau-page7-right-icon {
    position: absolute;
    bottom: 40px;
    right: -10px;
    transition: 0.3s;
}

.shape-mau-page7-right-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.traithom-page7-icon {
    position: absolute;
    top: 100px;
    right: -40px;
    transition: 0.3s;
}

.traithom-page7-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.traithom-page7-left-icon {
    position: absolute;
    height: 250px;
    width: 250px;
    bottom: 0px;
    left: -50px;
    transform: scaleX(-1);
    rotate: 100deg;
    transition: 0.3s;
}

.traithom-page7-left-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.nhanh-cherry-page7-top-icon {
    position: absolute;
    top: -3px;
    left: 240px;
    transition: 0.3s;
}

.nhanh-cherry-page7-left-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.nhanh-cherry-page7-right-icon {
    position: absolute;
    top: 120px;
    right: 280px;
    transform: scaleX(-1);
    rotate: 100deg;
    transition: 0.3s;
}

.nhanh-cherry-page7-right-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.nhanh-cherry-page7-bottom-icon {
    position: absolute;
    bottom: 50px;
    left: 580px;
    rotate: -100deg;
    transition: 0.3s;
}

.nhanh-cherry-page7-bottom-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width: 595px) {
    .page-7 > h2 {
        font-size: 200%;
        line-height: 111%;
        color: #e06331;
        font-weight: bold;
        font-family: "Raleway";
        width: 90%;
        margin-top: 120px;
        margin-left: 20%;
        padding-bottom: 10%;
    }

    .page-7 > p {
        width: 90%;
        height: 150px;
        font-size: 15px;
        color: #000000;
        font-weight: bold;
        font-family: "Raleway";
        text-align: left;
        margin-bottom: 100px;
        margin-left: 5%;
    }

    .page-7 span {
        display: block;
        font-size: 25px;
        color: #000000;
        font-weight: bold;
        font-family: "Raleway";
        margin-top: 20px;
    }

    .shape-mau-page7-left-icon {
        position: absolute;
        top: 20px;
        left: 0px;
        transition: 0.3s;
    }

    .shape-mau-page7-right-icon {
        position: absolute;
        bottom: 40px;
        right: -10px;
        transition: 0.3s;
    }

    .traithom-page7-icon {
        position: absolute;
        width: 30%;
        height: 30%;
        top: 40%;
        right: -40px;
        transition: 0.3s;
    }

    .traithom-page7-left-icon {
        position: absolute;
        height: 25%;
        width: 25%;
        bottom: -10%;
        left: -10px;
        transform: scaleX(-1);
        rotate: 100deg;
        transition: 0.3s;
    }

    .nhanh-cherry-page7-top-icon {
        position: absolute;
        top: -3px;
        right: 10%;
        transition: 0.3s;
    }

    .nhanh-cherry-page7-right-icon {
        position: absolute;
        top: 120px;
        left: 2%;
        transform: scaleX(-1);
        rotate: 100deg;
        transition: 0.3s;
    }

    .nhanh-cherry-page7-bottom-icon {
        display: none;
        position: absolute;
        bottom: 50px;
        left: 580px;
        rotate: -100deg;
        transition: 0.3s;
    }
}

/**!----------------- Page-8 --------------------!**/

.page-8 {
    position: relative;
    background-image: url("../img/backgroundFAQ.png");
    background-size: cover;
    height: 655px;
}

.page-8 > h2 {
    font-size: 100px;
    line-height: 111px;
    color: #eee0d1;
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 200px;
    padding-top: 100px;
}

.page-8 > ul {
    margin-left: 200px;
    list-style: none;
}

.page-8 > ul > li {
    position: relative;
    width: 600px;
    color: #f3e1d1;
    border-bottom: 3px solid #f3e1d1;
    padding-bottom: 10px;
    margin-top: 20px;
}

.page-8 > ul > li::before {
    content: "+";
    position: absolute;
    right: 10px;
    font-size: 35px;
    color: #f3e1d1;
    font-family: "Raleway";
}

.page-8 > ul > li > a {
    font-size: 25px;
    color: #f3e1d1;
    font-weight: bold;
    font-family: "Raleway";
    text-decoration: transparent;
}

.card-page8-icon {
    position: absolute;
    right: 200px;
    top: 150px;
    transition: 0.3s;
}

.card-page8-icon:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
    transition: 0.3s;
}

.shape-white-page8-left-icon {
    position: absolute;
    top: 100px;
    left: 10px;
    transition: 0.3s;
}

.shape-white-page8-left-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.shape-white-page8-right-icon {
    position: absolute;
    bottom: 150px;
    right: 10px;
    transition: 0.3s;
}

.shape-white-page8-right-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width: 595px) {
    .page-8 > h2 {
        font-size: 400%;
        line-height: 111%;
        color: #eee0d1;
        font-weight: bold;
        font-family: "Raleway";
        margin-left: 20%;
        padding-top: 20%;
    }

    .page-8 > ul {
        margin-left: 5%;
        list-style: none;
    }

    .page-8 > ul > li {
        position: relative;
        width: 90%;
        color: #f3e1d1;
        border-bottom: 3px solid #f3e1d1;
        padding-bottom: 10px;
        margin-top: 20px;
    }

    .page-8 > ul > li::before {
        content: "+";
        position: absolute;
        right: 10px;
        font-size: 35px;
        color: #f3e1d1;
        font-family: "Raleway";
    }

    .page-8 > ul > li > a {
        font-size: 25px;
        color: #f3e1d1;
        font-weight: bold;
        font-family: "Raleway";
        text-decoration: transparent;
    }

    .card-page8-icon {
        position: absolute;
        width: 30%;
        height: 10%;
        right: 5%;
        top: 10%;
        transition: 0.3s;
    }

    .card-page8-icon:hover {
        transform: scale(1.05);
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
        transition: 0.3s;
    }

    .shape-white-page8-left-icon {
        position: absolute;
        top: 5%;
        left: 5%;
        transition: 0.3s;
    }

    .shape-white-page8-left-icon:hover {
        transform: scale(1.05);
        transition: 0.3s;
    }

    .shape-white-page8-right-icon {
        position: absolute;
        bottom: 15%;
        right: 5%;
        transition: 0.3s;
    }

    .shape-white-page8-right-icon:hover {
        transform: scale(1.05);
        transition: 0.3s;
    }
}

/**!----------------- Footer --------------------!**/

footer {
    position: relative;
    background-color: #f3e1d1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    gap: 50px;
}

footer > ul > p {
    font-size: 28px;
    color: #000000;
    font-weight: bold;
    font-family: "Raleway";
    padding-bottom: 10px;
}

footer > ul {
    gap: 50px;
    margin-left: 70px;
}

footer > ul > li {
    list-style: none;
}

footer > ul > li > a {
    width: 802px;
    height: 337px;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    font-weight: bold;
    font-family: "Raleway";
    text-decoration: transparent;
    transition: 0.3s;
}

footer > ul > li > a:hover {
    color: #e06331;
    transition: 0.3s;
}

footer > p {
    width: 1337px;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 310px;
    margin-bottom: 50px;
}

@media (max-width: 595px) {
    footer {
        position: relative;
        background-color: #f3e1d1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30%;
        padding-bottom: 30%;
    }

    footer > ul > p {
        font-size: 150%;
        color: #000000;
        font-weight: bold;
        font-family: "Raleway";
        padding-bottom: 10px;
    }

    footer > ul {
        gap: 50px;
        margin-left: 10px;
    }

    footer > ul > li {
        list-style: none;
    }

    footer > ul > li > a {
        width: 80%;
        height: 337px;
        font-size: 90%;
        line-height: 25px;
        color: #000000;
        font-weight: bold;
        font-family: "Raleway";
        text-decoration: transparent;
        transition: 0.3s;
    }

    footer > ul > li > a:hover {
        color: #e06331;
        transition: 0.3s;
    }

    footer > p {
        width: 90%;
        font-size: 80%;
        line-height: 25px;
        color: #000000;
        font-weight: bold;
        font-family: "Raleway";
        margin-left: 30px;
        margin-bottom: 20%;
        margin-top: 10%;
    }
}
